.env
.env.*
!.env.example

db.sqlite3
db.sqlite3-journal
*.sqlite3

/media/

/staticfiles/

__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/

.mypy_cache/
.pytest_cache/
.ruff_cache/
.coverage
htmlcov/

.idea/
.vscode/
.DS_Store

*.log
/logs/
